<!--
  Generated template for the StatisticsChart component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-grid>
    <ion-row>
      <ion-col> <!-- Column mumy -->
        <ion-row center> <!-- Row image & graph -->
          <ion-col>
            <img src="assets/img/fatigue-example.png" height= "100" width="100" />
          </ion-col>
          <ion-col width-75>
            <chart [options]="mumyWeightChartOptions" (load)="saveMumyWeightChart($event.context)" style="height: 120px"></chart>
          </ion-col>
        </ion-row>
        <ion-row center> <!-- Row Badges -->
          <ion-col text-center>
            <p> Badges Maman </p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col> <!-- Column baby -->
        <ion-row center> <!-- Row image & graph -->
          <ion-col>
         <img src="assets/img/baby-icon.png" height= "80" width="100"/>
          </ion-col>
          <ion-col width-75>
            <chart [options]="babyWeightChartOptions" (load)="saveBabyWeightChart($event.context)" style="height: 120px"></chart>
          </ion-col>
        </ion-row>
        <ion-row center> <!-- Row Badges -->
          <ion-col text-center>
            <p> Badges Baby </p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
