<!--
  Generated template for the RecordActivity page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<ion-navbar>
    <ion-title>Enregistrer une activité</ion-title>
</ion-navbar>

</ion-header>


<ion-content padding>
  <div id="mapid" style="height: 100%;"></div>
</ion-content>

<ion-footer style="text-align: center">
  <button *ngIf="this.workoutStatus == WORKOUT_STATUS.NotStarted" ion-button icon-only clear large style="font-size: 40px;" (click)="this.startWorkout()">
    <ion-icon color="danger" name="radio-button-on"></ion-icon>
  </button>

  <button *ngIf="this.workoutStatus == WORKOUT_STATUS.Paused" ion-button icon-only clear large style="font-size: 40px;" (click)="this.resumeWorkout()">
    <ion-icon color="danger" name="play"></ion-icon>
  </button>
  <button *ngIf="this.workoutStatus == WORKOUT_STATUS.Paused" ion-button icon-only clear large style="font-size: 40px;" (click)="this.stopWorkout()">
    <ion-icon color="danger" name="square"></ion-icon>
  </button>

  <button *ngIf="this.workoutStatus == WORKOUT_STATUS.InProgress;" ion-button icon-only clear large style="font-size: 40px;" (click)="this.pauseWorkout()">
    <ion-icon color="danger" name="pause"></ion-icon>
  </button>
</ion-footer>